{% block content %}
  <div class="container">
    <div class="row small-banner">
      <div class="col-xs-12 padding-none">
        <h1>{{ farm.name }}</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" id="farm-tabs">
      <li {% if page == "catalog" %} class="active" {% endif %}>
        <a href="{{ url_for('showCatalog',farm_id=farm.id) }}">Catalog</a>
      </li>
      <li {% if page == "catalog" %} class="active" {% endif %}>
        <a href="{{ url_for('showProfile',farm_id=farm.id) }}">Profile</a>
      </li>
      <li {% if page == "catalog" %} class="active" {% endif %}>
        <a href="{{ url_for('eventShow',farm_id=farm.id) }}">Events</a>
      </li>
    </ul>

    <div class="main-panel">
      <div class="catalog-sub-panel">
      
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="row flash">
              <ul>
                {% for message in messages %}
                  <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}

        
        {% if items.has_key("Produce") %}
          <div class="row">
            <h2 class="catalog">Fruit and Vegetables</h2>
          </div>
          {% for i in items["Produce"] %}
            <div class="row">
              <div class="item">
                <h3>{{ i.name }}</h3>
                <p>{{ i.description }}</p>
                <p class="item-price">{{ i.price }}</p>

                {% if creator %}
                  <a href="{{ url_for('editCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Edit</a>
                  <p class="inline">|</p>
                  <a href="{{ url_for('deleteCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Delete</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}

        {% if items.has_key("NutLegume") %}
          <div class="row">
            <h2 class="catalog">Nuts and Legumes</h2>
          </div>
          {% for i in items["NutLegume"] %}
            <div class="row">
              <div class="item">
                <h3>{{ i.name }}</h3>
                <p>{{ i.description }}</p>
                <p class="item-price">{{ i.price }}</p>

                {% if creator %}
                  <a href="{{ url_for('editCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Edit</a>
                  <p class="inline">|</p>
                  <a href="{{ url_for('deleteCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Delete</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}

        {% if items.has_key("Protein") %}
          <div class="row">
            <h2 class="catalog">Proteins</h2>
          </div>
          {% for i in items["Protein"] %}
            <div class="row">
              <div class="item">
                <h3>{{ i.name }}</h3>
                <p>{{ i.description }}</p>
                <p class="item-price">{{ i.price }}</p>

                {% if creator %}
                  <a href="{{ url_for('editCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Edit</a>
                  <p class="inline">|</p>
                  <a href="{{ url_for('deleteCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Delete</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}

        {% if items.has_key("Homemade") %}
          <div class="row">
            <h2 class="catalog">Home-made Goods</h2>
          </div>
          {% for i in items %}
            <div class="row">
              <div class="item">
                <h3>{{ i.name }}</h3>
                <p>{{ i.description }}</p>
                <p class="item-price">{{ i.price }}</p>

                {% if creator %}
                  <a href="{{ url_for('editCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Edit</a>
                  <p class="inline">|</p>
                  <a href="{{ url_for('deleteCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Delete</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}

        {% if items.has_key("Other") %}
          <div class="row">
            <h2 class="catalog">Other</h2>
          </div>
          {% for i in items["Other"] %}
            <div class="row">
              <div class="item">
                <h3>{{ i.name }}</h3>
                <p>{{ i.description }}</p>
                <p class="item-price">{{ i.price }}</p>

                {% if creator %}
                  <a href="{{ url_for('editCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Edit</a>
                  <p class="inline">|</p>
                  <a href="{{ url_for('deleteCatalogItem',farm_id=farm.id,item_id=i.id) }}" class="inline">Delete</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}

        
        {% if creator %}
          <div class="v-50">
          </div>
          <div class="row">
            <div id="center-btn-container">
              <a href="{{ url_for('newItem',farm_id=farm.id) }}" id="solid-a-btn">
                Add Item
              </a>
            </div>
          </div>
        {% endif %}
        
      </div>
    </div>
  </div>
{% endblock %}